/* set display to grid to use css grid */
.container {
  display: grid;
  /* width of colums, each size is for each column */
  grid-template-columns: auto auto auto;
  /* height of rows, each size for each row */
  grid-template-rows: 100px 100px;
  /* gap between each element */
  grid-gap: 3px;
}

















/* Ignore everything below (just styling) */
.container>div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

html,
body {
  background-color: #ffeead;
  margin: 10px;
}

.container>div:nth-child(1n) {
  background-color: #96ceb4;
}

.container>div:nth-child(3n) {
  background-color: #88d8b0;
}

.container>div:nth-child(2n) {
  background-color: #ff6f69;
}

.container>div:nth-child(4n) {
  background-color: #ffcc5c;
}